<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Flast | Kohei Takahashi</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body style="padding-top: 50px">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="./script.js" type="module"></script>

  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">www.flast.jp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-nav-scroll mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Twitter</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://twitter.com/Flast_RO">@Flast_RO</a>
            <a class="dropdown-item" href="https://twitter.com/Flast_NET">@Flast_NET</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Repo</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://github.com/Flast">GitHub</a>
            <a class="dropdown-item" href="https://bitbucket.org/Flast">Bitbucket</a>
            <a class="dropdown-item" href="https://launchpad.net/~flast">Launchpad</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Blog</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="http://flast.hateblo.jp">Programming</a>
            <a class="dropdown-item" href="http://flast-net.hateblo.jp">Networking</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-1"></div> <!-- margin -->

      <div class="col-md-8" id="top">
        <section class="my-3" id="author">
          <h3 class="border-bottom pb-3">About Author</h3>
          <table class="table table-striped table-sm">
            <tr><th>H/N</th><td>Flast</td></tr>
            <tr><th>Name</th><td><a href="http://en.glyphwiki.org/wiki/u9ad9">高</a><a href="http://en.glyphwiki.org/wiki/u6a4b-itaiji-001">橋</a> 航平 (Kohei Takahashi)</td></tr>
            <tr><th>Location</th><td>東京(Tokyo), 日本(Japan)</td></tr>
            <tr><th>Tel(JPN)</th><td>090-6271-0464</td></tr>
            <tr><th>mail</th><td>flast _at_ flast.jp (<a href="http://pgp.nic.ad.jp/pks/lookup?op=get&search=0xD1A7FCE8">PGP: 0xD1A7FCE8</a>)</td></tr>
            <tr><th>Skype</th><td>flast404</td></tr>
            <tr><th><a href="http://www.ihanet.info/">IHANet</a></th><td>AS64623 (contact to: as64623 _at_ flast.jp)</td></tr>
            <tr><th>AtCoder</th><td><a href="https://atcoder.jp/users/flast">flast</a></td></tr>
            <tr><th>経県値</th><td><a href="https://uub.jp/j.cgi/ztiqhaIzfnIaIzajqaIbqazIfntIiplIr">94点</a></td></tr>
            <tr><th>経県値 - 北海道</th><td><a href="https://uub.jp/k.cgi/1/zfziyodqfdriqtfnSiuIipociwziqIirrzfu/">30点</a></td></tr>
            <tr><th>経県値 - 青森県</th><td><a href="https://uub.jp/k.cgi/2/zixdqiuzezfteziwziqnfy/">12点</a></td></tr>
            <tr><th>経県値 - 山形県</th><td><a href="https://uub.jp/k.cgi/6/iqpzIeo/">5点</a></td></tr>
            <tr><th>経県値 - 茨城県</th><td><a href="https://uub.jp/k.cgi/8/Sirciutiqaiponceeziyr/">20点</a></td></tr>
            <tr><th>経県値 - 栃木県</th><td><a href="https://uub.jp/k.cgi/9/ySfzeipl/">5点</a></td></tr>
            <tr><th>経県値 - 群馬県</th><td><a href="https://uub.jp/k.cgi/10/ivcirziyniqniutfo/">10点</a></td></tr>
            <tr><th>経県値 - 埼玉県</th><td><a href="https://uub.jp/k.cgi/11/cipozippdqYedqedqfzeENdqYippq/">33点</a></td></tr>
            <tr><th>経県値 - 千葉県</th><td><a href="https://uub.jp/k.cgi/12/ceziwziqtezetXilrniqv/">18点</a></td></tr>
            <tr><th>経県値 - 東京都</th><td><a href="https://uub.jp/k.cgi/13/zfdrIdvtztnStsVnNzbqtzbrabriysezSfw/">100点</a></td></tr>
            <tr><th>経県値 - 山口県</th><td><a href="https://uub.jp/k.cgi/35/dqfnIivniru/">11点</a></td></tr>
            
          </table>
        </section>

        <section class="my-3" id="briefing-papers">
          <h3 class="border-bottom pb-3">発表資料 / Briefing Papers</h3>
          <ul>
            <paper-list v-for="item in list" :paper="item" />
          </ul>
        </section>

        <section class="my-3" id="study-group-without-review">
          <h3 class="border-bottom pb-3">研究会(査読なし) / Study Group (w/o review)</h3>
          <ul>
            <paper-list v-for='item in list' :paper="item" />
          </ul>
        </section>

        <section class="my-3" id="documentations">
          <h3 class="border-bottom pb-3">ドキュメント / Documantations</h3>
          <ul>
            <li>
              <a href="http://www.flast.jp/boost-range/">Boost.Range 2.0 with Extension</a>
            </li>
          </ul>
        </section>

        <section class="my-3" id="publications">
          <h3 class="border-bottom pb-3">出版物 / Publications</h3>
          <ul>
            <book-list v-for='item in list' :book="item" />
          </ul>
        </section>

        <section class="my-3" id="qualifications">
          <h3 class="border-bottom pb-3">資格・免許 / Qualifications, Licenses</h3>
          <table class="table table-striped table-sm">
            <tr v-for="item in list">
              <th v-is="'qual-date'" :qual="item"></th>
              <td v-is="'qual-title'" :qual="item"></td>
            </tr>
          </table>
        </section>
      </div>

      <div class="col-md-2">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="#author">About Author</a></li>
          <li class="nav-item">activity</li>
          <li class="nav-item"><a class="nav-link" href="#briefing-papers">発表資料</a></li>
          <li class="nav-item"><a class="nav-link" href="#study-group-without-review">研究会(査読なし)</a></li>
          <li class="nav-item"><a class="nav-link" href="#documentations">ドキュメント</a></li>
          <li class="nav-item"><a class="nav-link" href="#publications">出版物</a></li>
          <li class="nav-item"><a class="nav-link" href="#qualifications">資格・免許</a></li>
        </ul>
      </div>

      <div class="col-md-1"></div> <!-- margin -->
    </div>
  </div>
</body>
</html>
